/avante
/site
/swap
/plugged
/shada
/rplugin.vim
/.netrwhist
/lazy
/telescope_history
/neovide-settings.json
/mason
/lua/.luarc.json
/telescope-projects.txt
/telescope-workspaces.txt
/tree-sitter-*
/leetcode
/lazy-rocks
/load-lsp
*.log
rest-nvim.cookies
